li{
    
    list-style:none;
    text-align:center;
    padding-bottom:8px;
    
    
    
    
}


.picture{
    text-align:center;
}


.box-1{
    width:500px;
    margin-left:170px;
    
}
.box-2{



}



